{% set page_name = 'TV Station Links' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}

<font face="Arial, Helvetica, sans-serif" size="2">

<br>
<b>Links to U.S. TV stations:</b><br>
<br>
<b>
    <div align="center">
        <a href="{{ path('TvLinksAbc') }}">ABC Stations</a> |
        <a href="{{ path('TvLinksCbs') }}">CBS Stations</a> |
        <a href="{{ path('TvLinksFox') }}">FOX Stations</a> |
        <a href="{{ path('TvLinksIndependent') }}">Independent Stations</a> |
        <a href="{{ path('TvLinksNbc') }}">NBC Stations</a>
    </div>
</b>
<br><br><br>

<p>
</font>

{% endblock %}