{% extends '@NewRoadsMediaFrontend/Layout/mobile.html.twig' %}

{% block title %}Change Account Information{% endblock %}

{% form_theme form '@NewRoadsMediaFrontend/Layout/mobileForm.html.twig' %}

{% block content %}
    <h1>Change Account Information</h1>
    <p>
        Complete the fields below to update your login and account information. When you’re done, click on the “Submit Changes” button.
    </p>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.currentEmail) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newEmail) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}
    {{ form_row(form.newName) }}
    {{ form_rest(form) }}
    <p class="text-center">
        <button type="submit" class="form-control btn btn-success">Submit Changes</button>
    </p>
    {{ form_end(form) }}
{% endblock %}
