{% extends '@NewRoadsMediaFrontend/Layout/mobile.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% form_theme form '@NewRoadsMediaFrontend/Layout/mobileForm.html.twig' %}

{% block content %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <p>
        Enter the email address connected to your {{ parameter('site_title') }} account and
        we will email you a link to reset your password.
    </p>

    <h2>Forgot Password</h2>
    {% if form.vars.errors %}
        <div class="form-errors">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.email, {'attr': {'placeholder': 'Your Email Address', 'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success form-control'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock content %}